.align_button{
    text-align: center;
  }
  .btn{
    margin: 2px 3px;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  