<main id="main" class="main">

  <section class="section">

    <div class="row">

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="pagetitle" >
              <nav>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                  <li class="breadcrumb-item">Cours</li>
                  <li class="breadcrumb-item active">Liste des cours</li>
                </ol>
              </nav>
            </div>
            <h1>Listes des cours</h1>
            <a *ngIf="role != 'ROLE_TIRAGE' && role!='ROLE_ADMINISTRATION'" type="button" class="btn btn-primary button-add" routerLink="/cours/add"> Ajouter</a>
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="enseignant">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Enseignant</th>
                  <td mat-cell *matCellDef="let row"> {{row.enseignant}} </td>
                </ng-container>
                <ng-container matColumnDef="group">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Groupe</th>
                  <td mat-cell *matCellDef="let row"> {{row.group}} </td>
                </ng-container>
                <ng-container matColumnDef="matiere">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Matière</th>
                  <td mat-cell *matCellDef="let row"> {{row.matiere}} </td>
                </ng-container>
                <ng-container matColumnDef="dateTirage">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Tirage</th>
                  <td mat-cell *matCellDef="let row"> {{row.dateTirage}} </td>
                </ng-container>
                <ng-container matColumnDef="file">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Document</th>
                  <td mat-cell *matCellDef="let row">
                    <div *ngIf="role != 'ROLE_TIRAGE' && role!='ROLE_ADMINISTRATION'">
                   <a style="cursor: pointer" (click)="downloadCour(row.file)"  target="_blank"  >
                     <img src="{{row.image}}" width="50px" alt="">
                   </a>
                    </div>
                    <div *ngIf="role == 'ROLE_TIRAGE' && role!='ROLE_ADMINISTRATION'">
                   <a style="cursor: pointer" (click)="downloadCourTirage(row.file)"  target="_blank"  >
                     <img src="{{row.image}}" width="50px" alt="">
                   </a>
                    </div>
                   </td>
                </ng-container>
                <ng-container   matColumnDef="Action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
                  <td td mat-cell *matCellDef="let row">
                    <div *ngIf="role != 'ROLE_TIRAGE' && role!='ROLE_ADMINISTRATION'">
                      <button  class="btn btn-warning btnDataTable" (click)="updateCour(row.id)"  >
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button  class="btn btn-danger btnDataTable"  (click)="deleteCour(row.id)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                    <div *ngIf="role == 'ROLE_TIRAGE' && role!='ROLE_ADMINISTRATION'">
                        <mat-icon>{{row.status}}</mat-icon>
                    </div>

                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
            <!--Tirage-->
<!--            <div *ngIf="role == 'ROLE_TIRAGE'" class="mat-elevation-z8">-->
<!--              <table mat-table [dataSource]="dataSource" matSort>-->
<!--                <ng-container matColumnDef="enseignant">-->
<!--                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Enseignant</th>-->
<!--                  <td mat-cell *matCellDef="let row"> {{row.enseignant}} </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="group">-->
<!--                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Groupe</th>-->
<!--                  <td mat-cell *matCellDef="let row"> {{row.group}} </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="matiere">-->
<!--                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Matière</th>-->
<!--                  <td mat-cell *matCellDef="let row"> {{row.matiere}} </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="dateTirage">-->
<!--                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Tirage</th>-->
<!--                  <td mat-cell *matCellDef="let row"> {{row.dateTirage}} </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="file">-->
<!--                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Document</th>-->
<!--                  <td mat-cell *matCellDef="let row">-->
<!--                    <a style="cursor: pointer" (click)="downloadCour(row.file)"  target="_blank"  >-->
<!--                      <img src="{{row.image}}" width="50%" alt="">-->
<!--                    </a>-->
<!--                  </td>-->
<!--                </ng-container>-->

<!--                <tr mat-header-row *matHeaderRowDef="displayedColumns_tirage"></tr>-->
<!--                <tr mat-row *matRowDef="let row; columns: displayedColumns_tirage;"></tr>-->
<!--              </table>-->

<!--              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
