<main id="main" class="main">
   <div class="pagetitle">
     <h1>Contact</h1>
     <nav>
       <ol class="breadcrumb">
         <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
         <li class="breadcrumb-item">Pages</li>
         <li class="breadcrumb-item active">Contact</li>
       </ol>
     </nav>
   </div>
 
   <section class="section contact">
     <div class="row gy-4">
       <div class="col-xl-6">
         <div class="row">
           <div class="col-lg-6">
             <div class="info-box card">
               <i class="bi bi-geo-alt" style="color: #ac10ac;"></i>
               <h3>Adresse</h3>
               <p>Sfax route de teniour<br>Tunis rue Habib Bourguiba</p>
             </div>
           </div>
 
           <div class="col-lg-6">
             <div class="info-box card">
               <i class="bi bi-telephone" style="color: #ac10ac;"></i>
               <h3>Appelez-nous</h3>
               <p>95246422<br>53669406</p>
             </div>
           </div>
 
           <div class="col-lg-6">
             <div class="info-box card">
               <i class="bi bi-envelope text-purple" style="color: #ac10ac;"></i>
               <h3>Envoyez-nous un e-mail</h3>
               <p>saharnaoui92gmail.com</p>
               <p>alaeddinealaeddine10gmail.com</p>
             </div>
           </div>
 
           <div class="col-lg-6">
             <div class="info-box card">
               <i class="bi bi-clock" style="color: #ac10ac;"></i>
               <h3>Heures d'ouverture</h3>
               <p>Lundi - Vendredi<br>9h00 - 17h00</p>
             </div>
           </div>
         </div>
       </div>
 
       <div class="col-xl-6">
         <div class="card p-4">
            <form (ngSubmit)="onSubmit()" #contactFormRef="ngForm">
               <div class="row gy-4">
                 <div class="col-md-6">
                   <input type="text" name="name" class="form-control" placeholder="Votre nom" required>
                 </div>
                 <div class="col-md-6">
                   <input type="email" name="email" class="form-control" placeholder="Votre email" required>
                 </div>
                 <div class="col-md-12">
                   <input type="text" name="subject" class="form-control" placeholder="Sujet" required>
                 </div>
                 <div class="col-md-12">
                   <textarea name="message" class="form-control" rows="6" placeholder="Message" required></textarea>
                 </div>
                 <div class="col-md-12 text-center">
                   <div *ngIf="showLoading" class="loading">Chargement</div>
                   <div *ngIf="showError" class="error-message">Une erreur est survenue.</div>
                   <div *ngIf="showSentMessage" class="sent-message">Votre message a été envoyé. Merci !</div>
                   <button type="submit" class="btn btn-primary">Envoyer le message</button>
                 </div>
               </div>
             </form>
             
         </div>
       </div>
     </div>
   </section>
 </main>
 