<main id="main" class="main">

  <section class="section">

    <div class="row">

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="pagetitle">
              <nav>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                  <li class="breadcrumb-item">Groupe</li>
                  <li class="breadcrumb-item active">Liste des groupes</li>
                </ol>
              </nav>
            </div>
            <h1>Listes des groupes</h1>
            <a type="button" class="btn btn-primary button-add" routerLink="/groupe/add"> Ajouter</a>
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="nom">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
                  <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>
                <ng-container matColumnDef="nbr_Etudiant">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> nbr Etudiant </th>
                  <td mat-cell *matCellDef="let row"> {{row.nbEtudiant}} </td>
                </ng-container>
                <ng-container matColumnDef="Action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
                  <td td mat-cell *matCellDef="let row">

                    <button  class="btn btn-warning btnDataTable" (click)="updateGroup(row.id)"  >
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button  class="btn btn-danger btnDataTable"  (click)="deleteGroup(row.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
