<app-header *ngIf="!(_router.url === '/pages-register' || _router.url === '/login' || _router.url === '/pages-error404')" ></app-header>
<div class="layout d-flex">
<app-sidebar *ngIf="!(_router.url === '/pages-register' || _router.url === '/login' || _router.url === '/pages-error404')" ></app-sidebar>

</div>
<main class="content-area">
    <router-outlet></router-outlet>
</main>
<app-footer *ngIf="!(_router.url === '/pages-register' || _router.url === '/login' || _router.url === '/pages-error404')" ></app-footer>

