.sidebar {
    width: 250px;
    top: 89px;

    background-color: #fff;

  }
  .sidebar-nav .nav-link.active {
    background-color: #ac10ac; /* Couleur bleue bootstrap */
    color: white !important;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .sidebar-nav .nav-link.active i {
    color: white;
  }
  
