<main id="main" class="main">

  <section class="section">

    <div class="row">

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="pagetitle">
              <nav>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                  <li class="breadcrumb-item">Categorie</li>
                  <li class="breadcrumb-item active">Liste des catégories</li>
                </ol>
              </nav>
            </div>
            <h1>Liste des catégories</h1>
            <a type="button" class="btn btn-primary button-add" routerLink="/categorie/add"> Ajouter</a>
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="CategoryName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom Categorie </th>
                  <td mat-cell *matCellDef="let row"> {{row.CategoryName}} </td>
                </ng-container>
                <ng-container matColumnDef="Description">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Description Categorie </th>
                  <td mat-cell *matCellDef="let row"> {{row.Description}} </td>
                </ng-container>
                <ng-container matColumnDef="Action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
                  <td td mat-cell *matCellDef="let row">

                    <button  class="btn btn-warning btnDataTable" (click)="updateCategorie(row.CategoryID)"  >
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button  class="btn btn-danger btnDataTable"  (click)="deleteCategorie(row.CategoryID)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
