.btnDataTable{
    margin-right: 10px;
  }
  table {
    width: 100%;
    table-layout: fixed;
  }
  .button-add{
    margin-top:-50px;
    float: right;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  button {
    margin-right: 8px;
  }

th.mat-header-cell, td.mat-cell {
  width: auto;
  padding: 8px;
}

th.mat-header-cell {
  text-align: center;
  font-weight: bold;
}

mat-icon {
  margin-right: 5px;
}
