.btnDataTable{
    margin-right: 10px;
  }
  table {
    width: 100%;
  }
  .button-add{
    margin-top:-50px;
    float: right;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  button {
    margin-right: 8px;
  }
  