<main id="main" class="main">

  <section class="section">

    <div class="row">

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="pagetitle">
              <nav>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                  <li class="breadcrumb-item">Groupe</li>
                  <li class="breadcrumb-item active">{{title}}</li>
                </ol>
              </nav>
            </div>

            <h1 style="margin-bottom: 40px;">{{title}}</h1>

            <form [formGroup]="form" (ngSubmit)="onSub()">
              <div class="row">
                <mat-label class="col-md-2 label_form" style="margin-top: 20px;font-size: revert;">Nom Groupe :</mat-label>
                <mat-form-field appearance="outline" class="col-md-5">
                  <input matInput formControlName="name" placeholder="Nom groupe" required>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-label class="col-md-2 label_form" style="margin-top: 20px;font-size: revert;">Nombre d'etudiant :</mat-label>
                <mat-form-field appearance="outline" class="col-md-5">
                  <input matInput formControlName="nbEtudiant" placeholder="Nombre d'etudant" required>
                </mat-form-field>
              </div>
              <div class="row">
                <div class="col-md-7 align_button" >
                  <button mat-raised-button color="primary"  class="btn" >{{buttonadd}}</button>
                  <button mat-raised-button color="warn"  class="btn" (click)="Retour()"  >Annuler</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
