.dashboard-container {
    padding: 20px;
  }
  

  
  .card {
    background-color: #ffff;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: bold;
  }
  
  .chart-container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
  }
  .chart-description {
    font-size: 0.85rem;
    color: #d514e3;
    margin-top: 12px;
    text-align: center;
  }
  
  .charts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .chart-box {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .chart-box canvas {
    max-width: 100%;
  }
  .large-chart {
    min-width: 500px;
    grid-column: span 2; /* Occupe 2 colonnes dans la grille */
  }
  
  
  .summary-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 40px;
  }
  
  .summary-card {
    display: flex;
    align-items: flex-start;
    background-color: var(--card-color, #f3f4f6);
    padding: 20px;
    border-radius: 12px;
    width: 240px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: 0.3s ease;
  }
  
  .summary-card .icon {
    font-size: 2rem;
    margin-right: 12px;
    margin-top: 6px;
  }
  
  .summary-card .info {
    flex: 1;
  }
  
  .summary-card .info h4 {
    margin: 0;
    font-size: 0.95rem;
    color: #4b5563;
  }
  
  .summary-card .info h2 {
    margin: 4px 0;
    font-size: 1.5rem;
    color: #111827;
  }
  
  .progress-bar {
    background: #e5e7eb;
    border-radius: 6px;
    height: 6px;
    overflow: hidden;
    margin: 8px 0;
  }
  
  .progress-bar .fill {
    height: 100%;
    background-color: #34d399; /* Vert clair */
    transition: width 0.4s ease-in-out;
  }
  
  .trend {
    font-size: 0.8rem;
    margin: 0;
  }
  
  .trend.up {
    color: #16a34a;
  }
  
  .trend.down {
    color: #dc2626;
  }
  