<main id="main" class="main">

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="pagetitle">
                <nav>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                    <li class="breadcrumb-item">Utilisateurs</li>
                    <li class="breadcrumb-item active">Liste des utlisateurs</li>
                  </ol>
                </nav>
              </div>
              <h1>Liste des utlisateurs</h1>
              <a type="button" class="btn btn-primary button-add" routerLink="/customer/add"> Ajouter</a>
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="CustomerID">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Client </th>
                        <td mat-cell *matCellDef="let row"> {{row.CustomerID}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="CompanyName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom de l'entreprise </th>
                        <td mat-cell *matCellDef="let row"> {{row.CompanyName}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="ContactName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom du contact </th>
                        <td mat-cell *matCellDef="let row"> {{row.ContactName}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="ContactTitle">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Titre du contact </th>
                        <td mat-cell *matCellDef="let row"> {{row.ContactTitle}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="Address">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Adresse </th>
                        <td mat-cell *matCellDef="let row"> {{row.Address}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="City">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ville </th>
                        <td mat-cell *matCellDef="let row"> {{row.City}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="Region">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Région </th>
                        <td mat-cell *matCellDef="let row"> {{row.Region}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="PostalCode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Code Postal </th>
                        <td mat-cell *matCellDef="let row"> {{row.PostalCode}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="Country">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pays </th>
                        <td mat-cell *matCellDef="let row"> {{row.Country}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="Phone">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Téléphone </th>
                        <td mat-cell *matCellDef="let row"> {{row.Phone}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="Fax">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fax </th>
                        <td mat-cell *matCellDef="let row"> {{row.Fax}} </td>
                      </ng-container>
                      

                  <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td td mat-cell *matCellDef="let row" >
                      <button  class="btn btn-warning btnDataTable" (click)="updateCustomer(row.CustomerID)"  >
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button  class="btn btn-danger btnDataTable"  (click)="deleteCustomer(row.CustomerID)">
                        <mat-icon>delete</mat-icon>
                      </button>
  
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                  </tr>
                </table>
  
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  