.btnDataTable{
    margin-right: 10px;
  }
  table {
    width: 100%;
  }
  .button-add{
    margin-top:-50px;
    float: right;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  button {
    margin-right: 8px;
  }
/* Réduire Region, PostalCode, Country */
.mat-column-Region,
.mat-column-PostalCode,
.mat-column-Country {
  width: 80px;
  max-width: 80px;
}

/* Taille normale pour les autres colonnes */
.mat-column-CustomerID,
.mat-column-CompanyName,
.mat-column-ContactName,
.mat-column-ContactTitle,
.mat-column-Address,
.mat-column-City,
.mat-column-Phone,
.mat-column-Fax,
.mat-column-Action {
  width: 150px;
  max-width: 150px;
}

/* Pour que le texte long ne déborde pas */
td.mat-cell, th.mat-header-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
